.App {
  text-align: center;
}

.App-logo {
  height: 12vmin; /* o cualquier otro tamaño */
  width: 40vmin; /* o cualquier otro tamaño */
  transition: transform 0.2s; /* suaviza la transición */
}

/* Estado del logo al pasar el mouse por encima */
.App-logo:hover {
  animation: zoomIn 1.0s forwards;
}

.App-header {
  background-color: #0c1118;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes zoomIn {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
}

.new-page {
  background-color: #0c1118;
  min-height: 100vh;
}
